*
    {
    margin:0px;
    padding:0px;
    }

body {
    font-family: Arial, sans-serif;
}  

.custom-container {
    background: rgba(255,255,255,0.92);
    padding: 2rem;
    border-radius: 60px 0 60px 0;
    box-shadow: 0 4px 20px rgba(0,0,0,0.3);
    margin: 1rem;
    padding-bottom: 300px;
    z-index : -4;
}

.search-box {
    padding: 0.75rem;
    font-size: 1rem;
    border-radius: 5px;
    border: 2px solid #112349;
    width: 100%;
    max-width: 500px;
}

.recommend-button {
    padding: 0.75rem 1.25rem;
    font-size: 1rem;
    border-radius: 5px;
    border: 2px solid #112349;
    background-color: #112349;
    color: white;
    transition: 0.3s;
}

.recommend-button:hover {
    background-color: #CADCFC;
    color: #112349;
}

.card {
    margin: 30px 20px 10px 0px;
    background-color: white;
    border-radius: 153px 12px 47px 15px;
    box-shadow: 10px 10px 13px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 20px 20px 23px rgba(0, 0, 0, 0.3);
}

.song-image {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 133px 0px 93px 3px;
}

.song-title {
    font-size: 1.2em;
    font-weight: bold;
    color: #112349;
}

.artist-name {
    font-size: 1em;
    color: #112349;
}

.card-text {
    padding: 0.5rem 1rem 1rem;
}

.card-link {
    text-decoration: none;
    color: inherit;
}
.card-link,
.card-link:visited {
text-decoration: none !important;
}

/* Ensure no underline on hover/focus either */
.card-link:hover,
.card-link:focus {
text-decoration: none !important;
outline: none;
}
 
h1
{
    margin-top: 0px;
    text-align: center; 
    color: #112349; 
    padding-bottom: 0px;
}      

[data-testid="stMainBlockContainer"] {
    padding-top: 17px !important;
    padding-bottom: 50px !important;
}

.mbutton
{
    margin-top:28px;
}